@font-face {
    font-family: "Georgia";
    src: url('../libs/fonts/georgia.ttf') format('truetype');
}

// body {
//     background: url(../img/1.jpg);
// }


* {
    margin: 0;
    position: relative;
}

body {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    @media screen and (min-height: 1500px) {
        position: relative;
    }
}

h2 {
    @media screen and (min-height: 1500px) {
        padding-bottom: 20px;
    }
}